nav {
	margin: 0 auto;
    max-width: 260px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: .9em;
	
	
}
.ham{
   padding:0;
   
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
	
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.50rem;
	text-align: center;
	text-decoration: none;
	color: grey;
	

}
.navigation a:hover {
	color: black;

}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}

/* Media Query for medium+ views */
@media only screen and (min-width: 32.5em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
}
h1{
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-align: center;
    font-size: 3em;
    color: black;
}
h2{
    font-family: Varela Round ,arial, sans-serif;
    color: black;
    text-align: center;
}
h5{
    font-size: 2em;
}
.contactT h2{
    font-size: 1em;
    font-weight: bold;
    color:#111;

}
.subT h2{
    font-size: 1em;
    font-weight: bold;
    color:#666;
    text-align: left;
}
a{
    text-decoration: none;
}
p {
    color:#666666 ;
    font-size: 14px;
    text-align: left;
    font-family: Helvetica, arial,sans serif;
    font-style: normal;
    line-height: 1.8em;
    letter-spacing: .04em;
    font-weight:300;
    margin: 0 0 1em;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 1em;
    margin-left: 0px;
    letter-spacing: .04em;
}
.imgTitle p{
    color:#666666 ;
    font-size: 12px;
    line-height: 1.68em;
    text-align: center;
    padding-top: 15px;

}
header{
    height:px;
}
.photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
	height: auto;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.25);
}
.mysite {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
}
.website-content {
    flex: 1;
}
.wrapper {
    display: block;
    margin: 50px auto;
    text-align: ; 
	width: 90%;
}
.center{
	width:100%;
	text-align: center;
	
}
.box1{
width: 100%;
float:left;

}
.box1 p{
	text-align: left;
}
.box2{
    width: 100%;
	float: right;
	text-align: center;
}
.box2 h2, p{
	text-align: center;
}
.box2{
	padding-top: 70px;
}
/* here starts the contact form */
#contact{
	min-height: vh;
	background:;
	position: relative;
	width: 100%;

}
.contact-content{
	text-align: center;
}
.content{
	padding: 80px % 80px %;
	margin: 0 auto;
	max-width: 500px;
}
.content h1{
	text-align: center;
	font-weight: 500;
}
input[type="text"], input[type="email"], input[type="tel"], textarea {
	width: 100%;
	height: 50px;
	padding: 0px;
  margin-bottom: 15px;
	border: 0px;
	border-radius: 2px;
  font-size: 16px;
	text-indent: 12px;
	opacity: 0.80;
	font-weight: 400;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, textarea:focus{
	background: white;
	opacity: 1;
	outline: none;
}
textarea{
	height: 160px;
	padding-top: 12px;
	resize: none;
}
.submit{ 
	margin-top: 20px;
  width: 100%; 
  height: 40px;
  background: rgba(255, 255, 255, 0);
  border-color: black; 
  font-size: initial;
  color: black; 
  font-weight: bolder;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  border-radius: 2px;
}
.submit:hover{
	background: black; 
    color: white;
}
.boxShadow {
	-webkit-transition: all 250ms;
 	-moz-transition: all 250ms;
	transition: all 250ms;
 	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.boxShadow:hover, .boxShadow:focus {
	-webkit-transform: translateY(-5px);
 	-moz-transform: translateY(-5px);
 	transform: translateY(-5px);
 	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
 }
.footer p{
    text-align: center;
}
.footer {
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}
#social-media {list-style-type: ; display: inline; border: 0; padding-top: 300px; }
#social-media a, #social-media a:link, #social-media a:visited, #social-media a:hover {color: black; text-decoration: none !important; padding-top: 70px;}
#social-media a:hover {color: gray;}
#social-media span::before {text-decoration: none;}
.lightbox {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	min-height: 100%;
	z-index: 1;
	overflow: auto;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: -webkit-transform .75s ease-out;
	transition: transform .75s ease-out;
  }
  
  .lightbox img {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	max-width: 96%;
	max-height: 96%;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
	text-align: center;
  }
  
  input[type="checkbox"]:checked + .lightbox {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
  }
  
  input[type="checkbox"]:checked ~ .grid { opacity: .125; }
  
  .grid {
	width: 100%;
	box-shadow:  0 20px 20px rgba(0, 0, 0, 0.25);
	top: 0;
	left: 0;
	height: 100%;
	border-radius: 25px;
	z-index: 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-align-content: flex-start;
	-ms-flex-line-pack: start;
	align-content: flex-start;
	padding: px;
	overflow: auto;
	text-align: center;
	-webkit-transition: opacity .75s;
	transition: opacity .75s;

  }
  
  .grid .grid-item {
	width: 100%;
	display: inline-block;
	padding: 16px;
	opacity: .75;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
	margin: auto;
  }
  
  .grid .grid-item:hover { opacity: 1; }
  @media screen and (max-width: 1024px) {
  
  .grid .grid-item { width: 90%; }
  }
  @media screen and (max-width: 480px) {
  
  .grid .grid-item { width: 100%; }
  }
  
  .grid img {
	max-width: 100%;
	max-height: 100%;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.25);
  }

/*tablet*/
@media only screen and (min-width:640px){
	h1{
		font-family: 'Barlow Semi Condensed', sans-serif;
		text-align: center;
		font-size: 3em;
		color: black;
	}
	h2{
		font-family: Varela Round ,arial, sans-serif;
		color: black;
		text-align: center;
	}
	h5{
		font-size: 2em;
	}
	.contactT h2{
		font-size: 1em;
		font-weight: bold;
		color:#111;
	
	}
	.subT h2{
		font-size: 1em;
		font-weight: bold;
		color:#666;
		text-align: left;
	}
	a{
		text-decoration: none;
	}
	p {
		color:#666666 ;
		font-size: 14px;
		text-align: center;
		font-family: Helvetica, arial,sans serif;
		font-style: normal;
		line-height: 1.8em;
		letter-spacing: .04em;
		font-weight:300;
		margin: 0 0 1em;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 1em;
		margin-left: 0px;
		letter-spacing: .04em;
	}
	.imgTitle p{
		color:#666666 ;
		font-size: 12px;
		line-height: 1.68em;
		text-align: center;
		padding-top: 15px;
	
	}
	header{
		height:px;
	}
	.photo {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		height: auto;
		box-shadow: 0 20px 20px rgba(0, 0, 0, 0.25);
	}
	.mysite {
		display: flex;
		min-height: 100vh;
		flex-direction: column;
		
	}
	.website-content {
		flex: 1;
	}
	.wrapper {
		display: block;
		margin: 50px auto;
		text-align: ; 
		width: 80%;
	}
	.center{
		width:100%;
		text-align: center;
		
	}
	.box1{
	width: 100%;
	float:left;
	
	}
	.box2{
		width: 100%;
		float: right;
	}
	.box2 h2{
		text-align: center;
	}
	
	/* here starts the contact form */
	#contact{
		min-height: vh;
		background:;
		position: relative;
		width: 100%;
	
	}
	.contact-content{
		text-align: center;
	}
	.content{
		padding: 80px % 80px %;
		margin: 0 auto;
		max-width: 500px;
	}
	.content h1{
		text-align: center;
		font-weight: 500;
	}
	input[type="text"], input[type="email"], input[type="tel"], textarea {
		width: 100%;
		height: 50px;
		padding: 0px;
	  margin-bottom: 15px;
		border: 0px;
		border-radius: 2px;
	  font-size: 16px;
		text-indent: 12px;
		opacity: 0.80;
		font-weight: 400;
	}
	input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, textarea:focus{
		background: white;
		opacity: 1;
		outline: none;
	}
	textarea{
		height: 160px;
		padding-top: 12px;
		resize: none;
	}
	.submit{ 
		margin-top: 20px;
	  width: 100%; 
	  height: 40px;
	  background: rgba(255, 255, 255, 0);
	  border-color: black; 
	  font-size: initial;
	  color: black; 
	  font-weight: bolder;
	  -webkit-transition: 0.2s linear;
	  -moz-transition: 0.2s linear;
	  -ms-transition: 0.2s linear;
	  -o-transition: 0.2s linear;
	  transition: 0.2s linear;
	  border-radius: 2px;
	}
	.submit:hover{
		background: black; 
		color: white;
	}
	.boxShadow {
		-webkit-transition: all 250ms;
		 -moz-transition: all 250ms;
		transition: all 250ms;
		 box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	}
	.boxShadow:hover, .boxShadow:focus {
		-webkit-transform: translateY(-5px);
		 -moz-transform: translateY(-5px);
		 transform: translateY(-5px);
		 box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	 }
	.footer p{
		text-align: center;
	}
	.footer {
		font-family:Arial, Helvetica, sans-serif;
		color: black;
		text-align: center;
	}
	#social-media {list-style-type: ; display: inline; border: 0; padding-top: 300px;  }
	#social-media a, #social-media a:link, #social-media a:visited, #social-media a:hover {color: black; text-decoration: none !important; padding-top: 70px;}
	#social-media a:hover {color: gray;}
	#social-media span::before {text-decoration: none;}
	.lightbox {
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		min-height: 100%;
		z-index: 1;
		overflow: auto;
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
		-webkit-transition: -webkit-transform .75s ease-out;
		transition: transform .75s ease-out;
	  }
	  
	  .lightbox img {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		max-width: 96%;
		max-height: 96%;
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
		text-align: center;
	  }
	  
	  input[type="checkbox"]:checked + .lightbox {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	  }
	  
	  input[type="checkbox"]:checked ~ .grid { opacity: .125; }
	  
	  .grid {
		width: 100%;
		box-shadow:  0 20px 20px rgba(0, 0, 0, 0.25);
		top: 0;
		left: 0;
		height: 100%;
		border-radius: 25px;
		z-index: 0;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;
		-webkit-align-content: flex-start;
		-ms-flex-line-pack: start;
		align-content: flex-start;
		padding: px;
		overflow: auto;
		text-align: center;
		-webkit-transition: opacity .75s;
		transition: opacity .75s;
	
	  }
	  
	  .grid .grid-item {
		width: 100%;
		display: inline-block;
		padding: 16px;
		opacity: .75;
		-webkit-transition: opacity .5s;
		transition: opacity .5s;
		margin: auto;
	  }
	  
	  .grid .grid-item:hover { opacity: 1; }
	  @media screen and (max-width: 1024px) {
	  
	  .grid .grid-item { width: 90%; }
	  }
	  @media screen and (max-width: 480px) {
	  
	  .grid .grid-item { width: 100%; }
	  }
	  
	  .grid img {
		max-width: 100%;
		max-height: 100%;
		box-shadow: 0 20px 20px rgba(0, 0, 0, 0.25);
	  }
	}
		
	












/* desktop*/
@media only screen and (min-width:950px){





h1{
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-align: center;
    font-size: 3em;
    color: black;
}
h2{
    font-family: Varela Round ,arial, sans-serif;
    color: black;
    text-align: left;
}
h5{
    font-size: 2em;
}
.contactT h2{
    font-size: 1em;
    font-weight: bold;
    color:#111;

}
.subT h2{
    font-size: 1em;
    font-weight: bold;
    color:#666;
    text-align: left;
}
a{
    text-decoration: none;
}
p {
    color:#666666 ;
    font-size: 14px;
    text-align: left;
    font-family: Helvetica, arial,sans serif;
    font-style: normal;
    line-height: 1.8em;
    letter-spacing: .04em;
    font-weight:300;
    margin: 0 0 1em;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 1em;
    margin-left: 0px;
    letter-spacing: .04em;
}
.imgTitle p{
    color:#666666 ;
    font-size: 12px;
    line-height: 1.68em;
    text-align: center;
    padding-top: 15px;

}
header{
    height:px;
}
.photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
	height: auto;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.25);
}
.mysite {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
}
.website-content {
    flex: 1;
}
.wrapper {
    display: block;
    margin: 50px auto;
    text-align: ; 
    width: 70%;
}
.center{
	width:100%;
	text-align: center;
	
}
.box1{
width: 60%;
float:left;

}
.box2{
    width: 20%;
	float: right;
	text-align: left;
}
.box2 h2, p{
	text-align: left;
}

/* here starts the contact form */
#contact{
	min-height: vh;
	background:;
	position: relative;
	width: 100%;

}
.contact-content{
	text-align: center;
}
.content{
	padding: 80px % 80px %;
	margin: 0 auto;
	max-width: 500px;
}
.content h1{
	text-align: center;
	font-weight: 500;
}
input[type="text"], input[type="email"], input[type="tel"], textarea {
	width: 100%;
	height: 50px;
	padding: 0px;
  margin-bottom: 15px;
	border: 0px;
	border-radius: 2px;
  font-size: 16px;
	text-indent: 12px;
	opacity: 0.80;
	font-weight: 400;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, textarea:focus{
	background: white;
	opacity: 1;
	outline: none;
}
textarea{
	height: 160px;
	padding-top: 12px;
	resize: none;
}
.submit{ 
	margin-top: 20px;
  width: 100%; 
  height: 40px;
  background: rgba(255, 255, 255, 0);
  border-color: black; 
  font-size: initial;
  color: black; 
  font-weight: bolder;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  border-radius: 2px;
}
.submit:hover{
	background: black; 
    color: white;
}
.boxShadow {
	-webkit-transition: all 250ms;
 	-moz-transition: all 250ms;
	transition: all 250ms;
 	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.boxShadow:hover, .boxShadow:focus {
	-webkit-transform: translateY(-5px);
 	-moz-transform: translateY(-5px);
 	transform: translateY(-5px);
 	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
 }
.footer p{
    text-align: center;
}
.footer {
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}
#social-media {list-style-type: ; display: inline; border: 0; padding-top: 300px;  }
#social-media a, #social-media a:link, #social-media a:visited, #social-media a:hover {color: black; text-decoration: none !important; padding-top: 0px;}
#social-media a:hover {color: gray;}
#social-media span::before {text-decoration: none;}
.lightbox {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	min-height: 100%;
	z-index: 1;
	overflow: auto;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: -webkit-transform .75s ease-out;
	transition: transform .75s ease-out;
  }
  
  .lightbox img {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	max-width: 96%;
	max-height: 96%;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
	text-align: center;
  }
  
  input[type="checkbox"]:checked + .lightbox {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
  }
  
  input[type="checkbox"]:checked ~ .grid { opacity: .125; }
  
  .grid {
	width: 100%;
	box-shadow:  0 20px 20px rgba(0, 0, 0, 0.25);
	top: 0;
	left: 0;
	height: 100%;
	border-radius: 25px;
	z-index: 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-align-content: flex-start;
	-ms-flex-line-pack: start;
	align-content: flex-start;
	padding: px;
	overflow: auto;
	text-align: center;
	-webkit-transition: opacity .75s;
	transition: opacity .75s;

  }
  
  .grid .grid-item {
	width: 45%;
	display: inline-block;
	padding: 16px;
	opacity: .75;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
	margin: auto;
  }
  
  .grid .grid-item:hover { opacity: 1; }
  @media screen and (max-width: 1024px) {
  
  .grid .grid-item { width: 50%; }
  }
  @media screen and (max-width: 480px) {
  
  .grid .grid-item { width: 100%; }
  }
  
  .grid img {
	max-width: 100%;
	max-height: 100%;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.25);
  }
}
